
.container{
	display: flex;
	justify-content: space-around;
}
.ser1{
	width:300px;
	height: 200px;
}
.ser2{
	width:300px;
	height: 200px;
}
.ser3{
	width:300px;
	height: 200px;
}
.container1{
	display: flex;
	justify-content: space-around;
	color:red;
}
.container2{
	display: flex;
	justify-content: space-around;
	margin-top: 10px;
}
.book{
	margin-left: -105px;
}
.book1{
	margin-left: -130px;
}
.book2{
	margin-left: -120px;
}
.container3{
	display: flex;
	justify-content: space-around;
	margin-top: 10px;
}
.para{
	margin-left: 70px;
}
.para1{
	margin-left: 70px;
}
.para2{
	margin-left: 80px;
}
.id{
	font-size: 25px;
}
nav{
	height: 70px;
	background-color: black;
	margin-top: -20px;
}
footer{
	height: 70px;
	background-color: black;
}
h1{
	color: red;
}
.container4{
	display: flex;
	justify-content: space-around;
	color:#0240f7;
	margin-top: 10px;
}
.read{
	margin-left: -150px;
}
.read1{
	margin-left: -145px;
}
.read2{
	margin-left: -110px;
}