img{
	border:20px;
	width:15px;
	height: 15px;
	border-radius: 0px 5px 5px 0px;

}
.ss{
	border: 2px solid red;
 	
  
	border:1px;
	border-radius:19px;
}
body{
	padding-left: 30px;
}
#ip1 {
    border-radius: 18px;
    
    padding: 2px; 
    width: 1px;
    height: 1px;   
   