body{
	background-color:#f6eeee; 
}
.co{
	font-size:40px;
	padding-left:-0px;
	padding-top: 0px;
}

.home{
	text-decoration: none;
	padding-top: 20px;
	padding-left: 150px;
	color:#00ffff;
}
.about{
	padding-left: 140px;
	text-decoration: none;
	color:#00ffff;
}
.service{
	padding-left: 180px;
	text-decoration: none;
	color:#00ffff;
}
.client{
	padding-left: 220px;
	text-decoration: none;
	color:#00ffff;
}
.logo{
	padding-left: 10px;
	padding-right: 10px;
	font-size: 50px;
	border:2px solid #ffbf00;
	margin-left:-15px;
	border-radius: 600px;
	background-color: #ffbf00;
	color:#ffbf00;
	
} 
.logo1{
 
	padding-left: 5px;
	padding-right:5px;
	font-size: 20px;
	border:2px solid #66c2ff;
	margin-left:50px;
	border-radius: 1000px;
	background-color: #66c2ff;
	color:#66c2ff;
	margin-top: -19px;
	z-index: -2;
}
nav{
	background-color: white;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top:-10px;
}

.footer{
	padding-top: 0px;
	background-color:black;
	margin-top: -10px;
	color: white;
	position: fixed;
	padding-left: 25px;
	background-color: black;
	margin-right: 05px;
	
}
td{
	--left:225px;
}
.f2{
	padding-left: var(--left);
	
}
.f3{
 padding-left: var(--left);
}
.f4{
	 padding-left: 200px;
	 padding-right:20px;
	 margin-right: 40px;
	 
}
.f1{
	padding-left:10px;
}
.plan2{
	padding-left: 210px;
	margin-top: -50px;
}
.STR{
	padding-left: 410px;
	margin-top: -50px;
}
.aboutpara{
	font-size: 15px;
	color:black;
	margin-top:-10px;
}
table{
	float: right;
	margin-top: -311px;
	margin-right: 70px;
}
.fn{
	margin-top: -29px;
	padding-top: -400px;
	background-color: #ffc61a;
	border:3px solid white;
	padding-bottom: 30px; 
}
.em{
	
	margin-top: -29px;
	padding-top: -600px;
	background-color:#ffc61a;
	border:3px solid white;
	padding-bottom: 30px; 
}
.sub{
	margin-top: -29px;
	padding-top: -600px;
	background-color: #ffc61a;
	border:3px solid white;
	padding-bottom: 30px; 
}
.msg{
   margin-top: -29px;
	padding-top: -600px;
	background-color:#ffc61a;
	border:3px solid white;
	padding-bottom: 88px; 	
}
.map{
	width:880px;
	height: 270px;
	padding-left: 30px;
}
label{
	float: right;
	margin-right: 70px;
	margin-top:-35px;
}